.icon-symbol {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #303133;
  min-width: 1280px;
  overflow-y: scroll;
}

img,
video,
.el-image {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: inherit;
}

.default {
  width: 100%;
  height: 100%;
  background-color: #909399;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
}

.flex-grow {
  flex-grow: 1;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tip {
  font-size: 12px;
  color: #909399;
  display: flex;
  flex-direction: column;
}

.tip>* {
  margin-top: 3px;
}

/* 以下均为修复 element-plus 由2.3.5 升至 2.6.0 导致部分窗口显示与以前不同的问题*/
.el-dialog {
  padding: 0;

  .el-dialog__header,
  .el-dialog__footer {
    padding: 20px;
  }

  .el-dialog__body {
    padding: 0 20px;
  }
}

.el-message-box__message {
  width: calc(100% - 2px);
}

.el-menu--horizontal {
  height: unset;
}